{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- end of navbar -->
<nav class="navbar bottom-navbar navbar-expand-lg navbar-light bg-light">
    <div class="container bottom-navbar-container">
      <a class="navbar-brand" href="/"><img src="{% static 'img/msu-banner.png' %}" height="40px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Staff</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- end of navbar -->

<div class="container search-form ">
  <form class="form-inline" action="get" method="get">
    <input class="form-control col-11" type="text" placeholder="Search for title, author, ISBN.."> 
    <button type="submit" class="btn btn-primary ml-1">Search</button>
  </form>
</div>


<div class="container book-list-container mt-5 ">
  <div class="book-list">
    <div class="container book-box">
      <table class="table-main">
        <thead>
          <tr>
            <td class="item-cover ml-4"><img src="{%static 'img/book-cover.jpg' %}" alt=""></td>
            <td class="details-container">
              <table>
                <tbody>
                  <tr>
                    <td class="book-caption-container">
                      <a href="#"><h4 class="book-caption">Memory</h4></a>
                      <h4 class="book-caption">Brian Muchuelas</h4>
                      <h4 class="book-caption">Online Availability: Yes</h4> 
                    </td>
                  </tr>
                  <tr>
                    <td class="book-details-container">
                        <div id="book-year" class="book-details">
                          <div class="details-label">
                            Year:
                          </div>
                          <div class="details-value">
                            2020
                          </div>
                        </div>
                        <div id="book-category" class="book-details">
                          <div class="details-label">
                            Category: 
                          </div>
                          <div class="details-value">
                            Science
                          </div>
                        </div>
                        <div id="book-ISBN" class="book-details">
                          <div class="details-label">
                            ISBN:
                          </div>
                          <div class="details-value">
                            12344
                          </div>
                        </div>
                        <div id="book-ISBN" class="book-details">
                          <div class="details-label">
                            Pages:
                          </div>
                          <div class="details-value">
                            69
                          </div>
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </thead>
      </table>
    </div>
    <div class="book-box">
      <table class="table-main">
        <thead>
          <tr>
            <td class="item-cover ml-4"><img src="{%static 'img/book-cover.jpg' %}" alt=""></td>
            <td class="details-container">
              <table>
                <tbody>
                  <tr>
                    <td class="book-caption-container">
                      <h4 class="book-caption">Memory</h4>
                      <h4 class="book-caption">Author: Brian Muchuelas</h4>
                      <h4 class="book-caption">Online Availability: Yes</h4>             
                    </td>
                  </tr>
                  <tr>
                    <td class="book-details-container">
                        <div id="book-year" class="book-details">
                          <div class="details-label">
                            Year:
                          </div>
                          <div class="details-value">
                            2020
                          </div>
                        </div>
                        <div id="book-category" class="book-details">
                          <div class="details-label">
                            Category: 
                          </div>
                          <div class="details-value">
                            Science
                          </div>
                        </div>
                        <div id="book-ISBN" class="book-details">
                          <div class="details-label">
                            ISBN:
                          </div>
                          <div class="details-value">
                            12344
                          </div>
                        </div>
                        <div id="book-ISBN" class="book-details">
                          <div class="details-label">
                            Pages:
                          </div>
                          <div class="details-value">
                            69
                          </div>
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>

    
{% endblock %}